
<!-- <button type="button" class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Base</button> -->

<div class="w-full text-center">
  ¿Dónde se escala el próximo finde?
</div>

<ul class="m-3 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600" *ngFor="let place of places"> 

    <div class="flex justify-between">
      <span class="flex items-center">
        {{ place.name }}
      </span>
      <div>
        <div>
          <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
            {{ place.minTemp }}° / {{ place.maxTemp }}° 
          </span>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-300"> 
            {{ place.maxPrecip }}mm 
          </span>
        </div>
        <div>
          <span class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-300"> 
            {{ place.maxWind }} Wind 
          </span>

          <span class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-gray-900 dark:text-gray-300"> 
            {{ place.cloudMean }}  
          </span>
        </div>
      </div>
    </div>



  </li>
</ul>
